{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center;">
  GRE Vocabulary Learner
</h1>
<br>
<h3 style="margin-left: 5%;">
  Hi, my name is Siddhant Sinha, and I built this website for you <3 
  <br>
  <br>
  If you have any queries, please reach out to email me: <a href="mailto:sid.ronaldo1904@gmail.com">Click here. </a> 
  <br>
  <br>
  Also, if you detect any bug, or any mistake in any of the words/meanings, kindly let me know via email.
  <br>
  <br>
  Check out my youtube channel [<a href="https://www.youtube.com/channel/UCy6sMGO0Uk7GP7eCCyPLydQ" target="_blank"> Click Here</a> ] for videos on GRE and TOEFL.
  <br>
  <br> 
  Thank you. :)
</h3>

{% endblock %}